HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
*.log
.DS_Store

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# VScode
.vscode

# Environment File
.env